<div class="row">
    <div class="col s12 m8">
        <h3>{{story.title}}
            <small>{{{editIcon story.user user story._id false}}}</small>
        </h3>
        <div class="card story">
            <div class="card-content">
                <span class="card-title">{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</span>
                <img src="{{story.image}}" alt="{{story.title}}" class="responsive-img">
                {{{story.body}}}
                <form action="/stories/likeStory/{{story._id}}" method="POST" class="right-align">
                    <input type="hidden" name="_method" value="PUT" />
                    <span>{{{story.likes}}} likes</span>
                    <button class="button btn-floating btn-small waves-effect waves-light teal" type="submit"><i class="fas fa-star"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{story.user.displayName}}</span>
                <img src="{{story.user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="project-content">
                <span class="patternType">Pattern Type: {{story.patternType}}</span>
                <br>
                <span class="patternLink"><a href="{{story.patternLink}}">Get the pattern!</a></span>
                <br>
            </div>
            <div class="card-action">
                <a href="/stories/user/{{story.user._id}}">More From {{story.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>